<p>property-binding works!</p>

<!--string interpolation-->
<p>{{buttonDisabled}}</p>

<!--property binding play with the DOM-->
<!--set button disable attribute to be false after 1 second-->
<button class="btn btn-danger" [disabled]="buttonDisabled">Click me</button>
<p [innerText]="buttonDisabled"></p>

<!-- binding events to methods-->
<button class="btn btn-primary" (click)="buttonClick()">Event binding</button>

<!--passing data to event binding-->
<input type="text" class="form-control" (input)="textEntered($event)">
<p>server name : {{serverName}}</p>

<!--two way data binding-->
<input type="text" class="form-control" (input)="textEntered($event)">
<input type="text" class="form-control" [(ngModel)]="serverName">

<!--Combine of all forms of databinding-->
<button class="btn btn-block" (click)="createServer()">Create server</button>
<p>{{createdServerName}}</p>


