<app-aaa></app-aaa>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>

<app-servers></app-servers>
<app-styling></app-styling>

<!--normal html selector use-->
<!--<app-selectors-attributes-class></app-selectors-attributes-class>-->

<!-- selector used as attribute-->
<!--<div app-selectors-attributes-class></div>-->

<!--selector used as class-->
<div class="app-selectors-attributes-class"></div>

<app-string-interpolation></app-string-interpolation>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-property-binding></app-property-binding>
    </div>
  </div>
</div>

